class AppSecrets {
  static const productionApi = '<LOCALHOST ADDRESS OR PRODUCTION URL>';
  static const loginApi = '$productionApi/auth/login';
  static const signupApi = '$productionApi/auth/register';
  static const getCurrentUserApi = '$productionApi/auth/profile';
  static const blogApi = '$productionApi/blogs';
  static const categoryApi = '$productionApi/public/all-categories';
}
